@use 'assets/styles/index.scss' as *;
@use "assets/styles/variables" as *;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: $color-dark;
  background-image: repeating-radial-gradient(
    circle at 0 0,
    transparent 0,
    $color-dark 30px
  ),
  repeating-linear-gradient(
    rgba(246, 130, 94, 0.1),
    rgba(88, 133, 222, 0.2)
  );
  background-attachment: fixed;
  letter-spacing: -.01em;
  font-family: "Titillium Web", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  transition: background-color 0.5s ease-in-out;
  overscroll-behavior-y: auto;
  -webkit-overflow-scrolling: touch;
}

body {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: auto;
}

.no-pull-refresh {
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: auto;
}
