<div class="info-layout">
  <div class="info-main" #mainContent>
    <div id="contact-us" class="info-section" #sectionRef>
      <div class="title section-title-hover">
        Contact Us
        <ng-container *ngTemplateOutlet="linkIcon"></ng-container>
      </div>
      <div class="text-default">...</div>
    </div>
    <div id="terms" class="info-section" #sectionRef>
      <div class="title section-title-hover">
        Terms
        <ng-container *ngTemplateOutlet="linkIcon"></ng-container>
      </div>
      <div class="text-default">...</div>
    </div>
    <div id="privacy" class="info-section" #sectionRef>
      <div class="title section-title-hover">
        Privacy
        <ng-container *ngTemplateOutlet="linkIcon"></ng-container>
      </div>
      <div class="text-default">...</div>
    </div>
  </div>
  <nav class="info-nav">
    <div class="title">Terms of Service</div>
    <div class="info-date">Last update: AUG 08, 2025</div>
    <div *ngFor="let section of sections; let i = index" [class.active]="activeSectionIndex === i"
        class="nav-item color-default"
        (click)="scrollToSection(section.id, $event)">
      <div class="nav-number">{{i + 1}}.</div> {{section.title}}
    </div>
  </nav>
</div>

<ng-template #linkIcon>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 19 19"><g stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1.188" clip-path="url(#link_inline_svg)"><path d="M9.502 12.258A4.157 4.157 0 0 1 7.78 5.344l2.939-2.939a4.157 4.157 0 1 1 5.878 5.878l-1.81 1.811"></path><path d="M9.5 6.742a4.156 4.156 0 0 1 1.722 6.914l-2.939 2.939a4.156 4.156 0 1 1-5.878-5.878l1.81-1.811"></path></g><defs><clipPath id="link_inline_svg"><path fill="#fff" d="M0 0h19v19H0z"></path></clipPath></defs></svg>
</ng-template>
