@use '../../../assets/styles/index.scss';
@use "../../../assets/styles/variables";

.background-container {
  height: 100%;
  background-color: variables.$color-background-dark;
  overflow: hidden;
  position: relative;
}

.top-container {
  position: absolute;
  left: 1rem;
  bottom: calc(56% + 10.6rem);
  width: 88%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs-container {
  .tab {
    padding: 0.4rem 0.8rem;
    border-radius: 9999px;
    background-color: transparent;
    color: variables.$color-text-default;
    border: none;
    cursor: pointer;

    &:hover {
      color: rgb(201 203 207);
    }

    &.active {
      background-color: variables.$color-text-accent;
      color: variables.$color-background-dark;
    }
  }
}

.checkout-container::-webkit-scrollbar {
  display: none;
}

.checkout-container {
  position: absolute;
  bottom: 6rem;
  left: 1rem;
  width: 88%;
  height: 56%;
  padding: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border-radius: 12px;
  z-index: 100;
  background-color: rgba(20, 20, 20, 0.2);
  border: 2px solid rgba(30, 30, 30, 0.4);
  color: variables.$color-text-default;

  h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .delivery-options,
  .payment-options {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    label {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      color: variables.$color-text-default;
    }

    input[type='radio'] {
      accent-color: variables.$color-text-accent;
    }
  }

  .user-data {
    display: flex;
    flex-direction: column;
    max-width: 22rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.footer {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 88%;
  height: 0%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 2rem;
  border-radius: 12px;
  border: 2px solid rgba(30, 30, 30, 0.4);
  background-color: rgba(20, 20, 20, 0.2);
  gap: 1rem;
  z-index: 100;
}

@media (max-width: 624px) {
  .checkout-container {
    padding: 0.6rem;
  }

  .footer {
    justify-content: center;
    padding: 0.6rem;
    height: 3rem;
  }

  .user-data {
    padding-right: 1.4rem;
  }

  .top-container {
    bottom: calc(52% + 10.5rem);
    flex-direction: column-reverse;
    gap: 0.4rem;
  }
}

.error-message {
  color: red;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
