<app-background-video></app-background-video>

<div class="product-container" *ngIf="product">
  <div class="image-carousel">
    <app-button type="arrow-left" class="arrow left" (buttonClick)="prevImage()"></app-button>
    <img [src]="currentImage" [alt]="product.name | translate" class="product-image" (click)="openFullscreen(currentImage)"/>
    <app-button type="arrow-right" class="arrow right" (buttonClick)="nextImage()"></app-button>
  </div>

  <div class="fullscreen-overlay" *ngIf="fullscreenImage" (click)="closeFullscreen()">
    <img [src]="fullscreenImage" class="fullscreen-image" />
  </div>

  <div class="product-info">
    <span class="title">{{ product.name | translate }}</span>

    <div class="product-description text-default">
      <span>{{ 'material' | translate }}: <span class="color-tertiary">интерлок премиум 260гр</span></span>
      <span>{{ 'composition' | translate }}: <span class="color-tertiary">95% хлопок, 5% эластан</span></span>
      <span>{{ 'sizes' | translate }}: <span class="color-tertiary">{{ getAvailableSizesText() }}</span></span>
    </div>

    <span class="subtitle">{{ 'price' | translate }}: <span class="color-secondary text-bold text-md">{{ product.price | appCurrency }}</span></span>

    <div class="actions">
      <app-custom-select
        [label]="'t-shirt-size' | translate"
        [options]="getAvailableSizes()"
        [value]="selectedSize"
        [placeholder]="'select-size' | translate"
        (valueChange)="onSizeChange($event)">
      </app-custom-select>

      <app-button type="btn" class="add-to-cart" [text]="'add-to-cart' | translate" (buttonClick)="addToCart()"></app-button>
    </div>
  </div>
</div>
