<app-background-video></app-background-video>

<div class="top-container">
  <app-summary></app-summary>
</div>

<div class="cart-container">
  <div *ngFor="let item of cartItems()" class="cart-item">
    <img class="cart-image" [src]="item.images.front" alt="{{ item.name }}">
    <div class="cart-details">
      <span class="item-name text-bold text-default">{{ item.name }} <span class="text-price">({{ item.size }})</span></span>
      <span class="item-quantity text-default">Количество: <span class="quantity-value text-accent">{{ item.quantity }}</span></span>
      <span class="item-price text-default">Цена: <span class="item-size text-price">{{ item.price }}</span></span>
    </div>
    <app-button type="cross" (buttonClick)="removeFromCart(item)"></app-button>
  </div>
</div>

<div class="footer">
  <app-button type="btn" [text]="'Очистить корзину'" (buttonClick)="clearCart()"></app-button>
  <app-button type="btn" [text]="'Оформить заказ'" (buttonClick)="goToCheckout()"></app-button>
</div>
