@use '../../../assets/styles/variables' as *;

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 2rem;
  color: $color-text-default;
  position: relative;
}

.dots-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  background-image: radial-gradient(rgba($color-text-default, 0.18), transparent 1.5px);
  background-size: 3px 3px;
  opacity: 0.25;
}

.success-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding: 2.8rem;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8), inset 0 0 100px rgba(0, 0, 0, 0.7);
  text-align: left;
  max-width: 500px;
  animation: fadeIn 0.5s ease-out;
  overflow: hidden;
  background: radial-gradient(80% 50% at 125% 30%, rgba($color-text-default, 0.4) 0%, rgba(35, 38, 55, 0.6) 30%, $color-background-dark 100%), radial-gradient(100% 80% at 10% 30%, rgba($color-background-dark, 0.3) 0%, $color-text-accent 40%, rgb(115, 109, 119) 100%);
}

.success-card-text {
  margin: 1rem 0 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, $color-text-accent 0%, #f3cfbb 29%, #f4efc1 40%, #f0f0e5 60%, $color-text-default 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-align: center;
  letter-spacing: -.02em;
}

.love-icon {
  margin-right: 0.3rem;
  width: 1.4rem;
  height: 1.4rem;
  color: $color-text-accent;
  display: inline-block;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 548px) {
  .success-card {
    padding: 1.4rem;
    border-radius: 10px;
  }
}
