<div class="card-container" [attr.data-first-card]="isFirstCard">
  <a [routerLink]="['/product', product.id]">

    @if (!imageLoaded()) {
      <div class="image-skeleton"></div>
    }
    
    <img 
      [src]="product.images.front"
      [alt]="product.name | translate"
      (load)="onImageLoad()"
      [style.opacity]="imageLoaded() ? 1 : 0"
    />
  </a>

  <div class="product-info">
    <span class="product-info--name text-default">{{ product.name | translate }}</span>
    <span class="text-price">{{ product.price | appCurrency }}</span>
  </div>
</div>
