.card-container {
  width: 100%;
  min-width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 12px;
  background-color: rgba(20, 20, 20, 0.08);
  border: 2px solid rgba(30, 30, 30, 0.4);
}

.card-container a {
  width: 100%;
  display: block;
}

.card-container img {
  width: 100%;
  max-height: 12rem;
  object-fit: contain;
}

@media (max-width: 768px) {
  .card-container {
    min-width: 10rem;
  }

  .card-container img {
    max-height: 8rem;
  }
}

.product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    flex: 1;
  }
}
