<app-background-video></app-background-video>

<div class="page-content">
  <div class="cards-list" [style.width]="(products() || []).length === 0 ? '100%' : 'auto'" (scroll)="onScroll($event)">
    <ng-container *ngFor="let product of products()">
      <app-card [product]="product"></app-card>
    </ng-container>
  </div>
</div>

<div class="footer text-default">
  <div class="footer-links">
    <span>CONTACT US</span>
    <span>TERMS</span>
    <span>PRIVACY</span>
    <span>COOKIE POLICY</span>
  </div>
  <div class="currency-language-selectors">
    <app-custom-select
      class="l-c-select"
      [options]="currencyOptions"
      [(ngModel)]="selectedCurrency"
      [placeholder]="'Выберете валюту'"
      (ngModelChange)="onCurrencyChange($event)">
    </app-custom-select>
    <app-custom-select
      class="l-c-select"
      [options]="languageOptions" 
      [(ngModel)]="selectedLanguage"
      [placeholder]="'Выберете язык'"
      (ngModelChange)="onLanguageChange($event)">
    </app-custom-select>
  </div>
</div>
