<div class="cards-list" (scroll)="onScroll($event)">
  <ng-container *ngFor="let product of products()">
    <app-card [product]="product"></app-card>
  </ng-container>
</div>

<div class="footer text-default">
  <div class="footer-links">
    <span [routerLink]="['/info/contact-us']">{{ 'contact-us' | translate }}</span>
    <span [routerLink]="['/info/terms']">{{ 'terms' | translate }}</span>
    <span [routerLink]="['/info/privacy']">{{ 'privacy' | translate }}</span>
  </div>
  <div class="currency-language-selectors">
    <app-custom-select
      class="l-c-select"
      [options]="currencyOptions"
      [value]="currencyService.currency()"
      [placeholder]="'select-currency' | translate"
      (valueChange)="onCurrencyChange($event)">
    </app-custom-select>
    <app-custom-select
      class="l-c-select"
      [options]="languageOptions" 
      [value]="translationService.currentLang()"
      [placeholder]="'select-language' | translate"
      (valueChange)="onLanguageChange($event)">
    </app-custom-select>
  </div>
</div>
