@use '../../../assets/styles/variables' as *;

.page-content {
  top: 18.2%;
  left: 11%;
  position: absolute;
  z-index: 2;
  border-radius: 14px;
  width: 73%;
  height: calc(100vh - 28%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.cards-list::-webkit-scrollbar {
  display: none;
}

.cards-list {
  width: 100%;
  box-sizing: border-box;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  background: radial-gradient(80% 50% at 125% 30%, rgb(255 255 255 / 40%) 0%, rgb(35 38 55 / 60%) 30%, rgb(0 0 0) 100%), radial-gradient(100% 80% at 10% 30%, rgb(0 0 0 / 30%) 0%, rgb(246, 130, 94) 40%, rgb(115 109 119) 100%);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8), inset 0 0 100px rgba(0, 0, 0, 0.7);
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.2),
      transparent 1.5px
    );
    background-size: 3px 3px;
    opacity: 0.4;
    pointer-events: none;
  }
  &::after {
    content: "";
    background: radial-gradient(circle at center, rgb(214 188 152) 0%, rgb(0 0 0 / 30%) 50%, rgb(214 188 152) 100%);
    filter: blur(48px);
    border-radius: 50%;
    z-index: -1;
    width: 18rem;
    height: 3rem;
    margin-top: -5rem;
  }
}

.footer {
  position: fixed;
  bottom: 0.8rem;
  width: 100%;
  margin-left: 1.8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  z-index: 4;
}

.footer-links {
  display: flex;
  gap: 1rem;
  flex-basis: 78%;
  
  span {
    cursor: pointer;
    transition: color 0.2s ease;
    
    &:hover {
      color: $color-text-tertiary;
    }
  }
}

.currency-language-selectors {
  flex-basis: 20%;
  margin-right: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.l-c-select {
  width: 100%;
}

@supports (-webkit-touch-callout: none) {
  .page-content {
    height: calc(100vh - 42%);
  }
}

@media (max-width: 548px) {
  .cards-list {
    padding-top: 2rem;
    gap: 1rem;
    justify-content: center;
  }

  .page-content {
    top: 18.2%;
    border-radius: 8px;
  }

  .footer {
    width: 86%;
    bottom: 1.2rem;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.7rem;
    gap: 0.1rem;
    
    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .currency-language-selectors {
    margin-right: 0rem;
    flex-basis: 54%;
    display: flex;
    gap: 0.4rem;
  }
}

@media (max-width: 900px) {
  .cards-list {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }
}
