<div class="notification-container" *ngIf="showNotifications()">
  <div 
    *ngFor="let notification of activeNotifications()" 
    class="notification" 
    [ngClass]="notification.type"
    [@notificationAnimation]>
    
    <div class="notification-icon">
      <i [class]="getIconClass(notification.type)"></i>
    </div>
    
    <div class="notification-content">
      <div class="notification-message">{{ notification.message }}</div>
    </div>
    
    <button class="notification-close" (click)="removeNotification(notification)">
      <i class="bi bi-x"></i>
    </button>
  </div>
</div>
