.background-video {
  position: fixed;
  top: -9.4%;
  left: 0px;
  width: 120vw;
  height: 110vh;
  min-width: 100%;
  min-height: 100%;
  object-fit: fill;
  object-position: center;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  
  &::-webkit-media-controls {
    display: none !important;
  }
  
  &::-webkit-media-controls-start-playback-button {
    display: none !important;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.background-video.visible {
  opacity: 0.888;
  transition: opacity 2s ease-in-out;
}
