.background-video {
  position: fixed;
  top: -76px;
  left: 0px;
  width: 120vw;
  height: 110vh;
  min-width: 100%;
  min-height: 100%;
  object-fit: fill;
  object-position: center;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
}

body.video-loaded {
  background-color: transparent !important;
}

.video-loaded .background-video {
  opacity: 1 !important;
}
